* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-calendar,
.main-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn-navigation {
     padding: 5px 20px;
     border-radius: 5px;
     background-color: purple;
     color: white;
     border: none;
     cursor: pointer;
}

.btn-navigation:disabled{
     background-color: #efefef;
     cursor: not-allowed;
}

.container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 7);

    border: 1px solid black;
    display: inline-block;
}
/*
#calendar-names-of-days li {
    float: left;

}
*/

#calendar-names-of-days .card,
#nome-mese {
    text-transform: capitalize;

}

.festivo {
    color: red;
}

.not-used {
    background-color: gray;
}
